<p>
  <b>Event:</b>
  <%=h @events_supplier.event_id %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @events_supplier.supplier_id %>
</p>


<%= link_to 'Edit', edit_events_supplier_path(@events_supplier) %> |
<%= link_to 'Back', events_suppliers_path %>