<div class="content-section">
<div class="admin-minor-color long-heading">
<h3>Klaratee Admin</h3>
</div>
<p>Be careful!</p>
<ul>
	<li>
		<%= link_to "Default System Settings", :controller => "admin/settings", :action => "index" %>
	</li>
	<li>
		<%= link_to "User Admin", :controller => "admin/users", :action => "index" %>
	</li>
    <li>
        <%= link_to "Manage Fields", :controller => "admin/fields", :action => "index" %>
    </li>
</ul>
</div>